// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body a {
  text-decoration: none;
  color: white;
}

body a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

